/* Estilos para los botones*/
@keyframes pulse1 {
  0% {
   box-shadow: 0 0 0 0 #05bada66;
  }
 
  70% {
   box-shadow: 0 0 0 10px rgb(218 103 68 / 0%);
  }
 
  100% {  
   box-shadow: 0 0 0 0 rgb(218 103 68 / 0%);
  }
 }

 

 .btn-nuevo-animacion:hover {
  background-position: right center;
  background-size: 200% auto;
  -webkit-animation: pulse 2s infinite;
  animation: pulse1 1.5s infinite;

}

.targeta {
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: all 0.3s;
  background-color: green;
  color: white;
  padding: 10px;

}


@keyframes btnFormEase {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.05);
  }
  
}
.btn-ease:hover {
  animation: btnFormEase 0.3s forwards;

}

/* Estilos para el boton de seccion de productos */
.btn-seleccion {
  max-width: 150px;
  padding: 2px;
  background: #f1f1f1;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 5px 0;
  cursor: pointer;
  text-wrap: nowrap;

  font-size:15px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

  
}
.btn-seleccion:hover {
  
  -webkit-animation: pulse 2s infinite;
  animation: pulse11 1.5s infinite;
  animation: zoomAnim 0.3s forwards;
  animation: movimiento-boton 1s ease;
  box-shadow: 0 0 5px 0 #b4b4b4;
}
.btn-filtro {
  background: #0972e2;  /* Ajustado para mejor contraste */
  color: white;

  padding: 0 3px 0 3px;
  
}