

.tamaño-card {
  display: grid;
 
  grid-template-areas: "icono-card card-info card-info";
  grid-template-columns: 2fr 7fr;

  box-shadow: 4px 5px 3px rgba(83, 83, 83, 0.3) !important;
  border-radius: 10px;
  overflow: hidden;
}

.container-card {
  
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr)); 
  grid-template-rows: repeat(auto-fill, 110px);
  grid-auto-rows: 110px;
  gap: 15px 20px;
  margin: 0 auto; 
}
.contenido-card > h4 {
  /* white-space: nowrap; */
  overflow: hidden;

}
.icono-card {
  position: relative;
  padding: 0;
  margin: 0;
  padding: 0 8px 0 8px;
  grid-area: icono-card;
  color: #f1f1f1;
  font-size: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.tamaño-card .icono-card > i {
  font-size: 65px;
}

.contador-card {
  height: 100%;
  display: flex;
  align-items: end;
 

}
.contador-card > h3 {

  margin: 0 0 50px 0;
}

.card-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin: 0;
  
  transition: 0.5s;

  color: white;

}
.contenido-card > p {
  white-space: nowrap;
  font-size: 17px;
}

@media(min-width: 868px) and (max-width: 1200px)  {
  .tamaño-card .icono-card > i {
    font-size: 50px;
  }
  .container-card {
  

    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr)); 
    grid-template-rows: repeat(auto-fill, 100px);
    grid-auto-rows: 100px;

  }
  .contenido-card > h4 {
    font-size: 18px;
    overflow: inherit;    
  }
  .contenido-card > p {
    font-size: 16px;
  }
  
  
}
@media (min-width: 500px) and (max-width: 868px) {
  .tamaño-card > div {
    padding: 7px;
  }
  .container-card {
  

    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr)); 
    grid-template-rows: repeat(auto-fill, 90px);
    grid-auto-rows: 90px;
  }

  .contenido-card > h4 {
    font-size: 16px;
    overflow: inherit;    
  }
  .contenido-card > p {
    font-size: 14px;
  }
  .contador-card > h3 {
    font-size: 20px;
  }
  .tamaño-card .icono-card > i {
    font-size: 45px;
  }
  .container-grafico {
    display: grid;
    height: 70dvh;
  
  }

}
@media (min-width: 320px) and (max-width: 500px) {
  .tamaño-card > div {
    padding: 7px;
  }
  .container-card {
  

    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr)); 
    grid-template-rows: repeat(auto-fill, 85px);
    grid-auto-rows: 85px;
  }

  .contenido-card > h4 {
    font-size: 14px;
    overflow: inherit;    
  }
  .contenido-card > p {
    font-size: 12px;
  }
  .contador-card {
    font-size: 14px;
  }
  .tamaño-card .icono-card > i {
    font-size: 30px;
  }
  .container-grafico {
    display: grid;
    height: 70dvh;
  
  }
  .icono-card > i {

    padding: 0;
  }
  .contador-card > h3 {
    font-size: 16px;
  }
  
}


div.color-card-1 {
  background: rgb(206, 151, 34);
 
}
.color-card-11 {
  background: rgb(194, 137, 15);
}

div.color-card-2 {
  background: rgb(206, 34, 34);
}
.color-card-22 {
  background: rgb(170, 23, 23);
}
div.color-card-3 {
  background: rgb(59, 160, 19);
}
.color-card-33 {
  background: rgb(49, 133, 16);
}
div.color-card-4 {
  background: rgb(34, 34, 206);
}
.color-card-44 {
  background: rgb(23, 23, 170);
}

.grafico {
  margin-bottom: 0;
  padding-bottom: 0;
}

