.colorLabel {
    color: #1baedb;
    font-weight: bold;
}
.fondoSelect {
    background-color: #f5f5f5;
   
}
.pedido-detalle > h3 {
    color: #1baedb;
    font-weight: bold;
    padding: 5px;
}
.pedido-detalle > article {
    max-width: 600px;
    margin: 0 auto;
    margin-top: 10px;
}
