/* estilos para el contenedor de los productos */
.container-productos {
  height: 85vh; /* esta sera la atura maxima para calcular el total de productos a mostrar */

 
}
.productos {
  margin: 0;
  padding: 0;
  width: 100%;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(175px, 1fr));
  gap: 20px;

}
.producto {
  

  display: flex;
  text-align: center;
  flex-direction: column;
  padding: 0;
  margin: 0;
  outline: 2px solid #ccc;
  border-radius: 0 0 8px 8px;
  background: rgb(255, 255, 255);
  max-width: 270px;
  position: relative;
}
.producto-img {
  width: 100%;
  height: 150px;
  padding-top: 5px;
}
.producto-img > img {
  aspect-ratio: 1 / 1;
  object-fit: contain;
  width: 100%;
  height: inherit;
  

}
.producto:hover {
  box-shadow: 0 0 5px 5px rgba(231, 231, 231, 0.5);
  animation: zoomAnim3 0.3s forwards;

}
.producto-info > p {
  white-space: nowrap; /* Asegura que el texto se mantenga en una sola línea */
  text-overflow: ellipsis; /* Añade puntos suspensivos al final del texto truncado */
  padding-left: 2px;
  font-size: 15px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  overflow: hidden;
}
.img-blanco-negro {
  filter: grayscale(90%)
}
.icono-informativo {
  font-size: 19px;
  width: 25px;
  height: 25px;
  color: #ff7272;
  opacity: 0.8;
  position: absolute;
  top: 0px;
  right: 0px;
  cursor: pointer;
  justify-self: center;
  z-index: 10;
  display: flex;


}
.btn-agregar {
  flex-direction: column;
}
.btn-agregar > button {

  background: #1bc4ee;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #1bc4ee, #009FC7);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #1bc4ee, #0784a3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  opacity: 0.9;

  width: 100%;
  color: white;
  border: none;
  border-radius: 0 0 5px 5px;
  padding: 5px 10px;
  font-weight: 520;
  cursor: pointer;
  font-size: 15px;
  font-family: sans-serif;
 
}
.btn-agregar > button:hover {
  opacity: 1;
}
/* animaciones personalizadas */
@keyframes zoomAnim {
  from {
      transform: scale(1); /* Estado inicial, sin escalar */
  }
  to {
      transform: scale(1.05); /* Estado final, escala aumentada a 1.1 */
  }
  
}
@keyframes zoomAnim2 {
  from {
      transform: scale(1); /* Estado inicial, sin escalar */
  }
  to {
      transform: scale(1.030); /* Estado final, escala aumentada a 1.1 */
  }
  
}
@keyframes zoomAnim3 {
  from {
      transform: scale(1); /* Estado inicial, sin escalar */
  }
  to {
      transform: scale(1.005); /* Estado final, escala aumentada a 1.1 */
  }
  
}

/* estilos para el carrito de compras */
.ul-carrito {

  min-height: 28vh;
}
.unidades-producto {
 
  max-width: 35px;
  padding: 0px 2px;
  margin: 0;
  height: 23px;
  border: 1px solid #f0efef;
  border-radius: 5px;
  font-size: 15px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  overflow: hidden;
  text-align: right;
  background: #f8f8f8;

}
/* estilos para el icono del producto del carrito de compras*/
.imagen-producto-mini {
  position: relative;
  display: inline-block;
  box-shadow: 0 0 5px 1px #f8f8f8;
  width: 30px;
}
.imagen-producto-mini > img {
  aspect-ratio: 1 / 1; /* la imagen se mantiene cuadrada en relación al width del contenedor - buenas prácticas */
  object-fit: container;
  width: 100%;
  height: auto;
  
}
.imagen-producto-mini:hover {
  outline: 0.5px solid rgb(212, 20, 20);
  box-shadow: 0 0 4px 0.5px red;

  cursor: pointer;
  animation: zoomAnim2 0.3s forwards;
}
.imagen-producto-mini:hover::after {
  content: 'X';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 25px;
    color: red;
    display: block;
}
/* se manipula los estilos por defecto del input number */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.linea-carrito {
  border: 1px solid #676565;
  width: 98%;
  display: flex;
  margin: 0 auto;
  margin-bottom: 10px;

}
.contenedor-secciones {

  overflow-x: auto;
}

.seccion {
  flex-direction: row;
  display: grid;
  width: 100%;
  grid-template-columns: repeat(minmax(180px, 1fr));

}

.btn-seleccion {
  width: 100%;
  padding: 2px;
  background: #f1f1f1;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 5px 0;
  cursor: pointer;
  text-wrap: nowrap;
  font-size:15px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

  
}
@keyframes movimiento-boton {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(1px);
  }
  100% {
    transform: translateX(0);
  }

}
.btn-filtro {
  background: #4eacff;  /* fallback for old browsers */
  color: white;
  
}

.btn-nuevo-animacion:hover {
  background-position: right center;
  background-size: 200% auto;
  -webkit-animation: pulse 2s infinite;
  animation: pulse1 1.5s infinite;

}

@keyframes pulse11 {
  0% {
   box-shadow: 0 0 0 0 #e6dc8766;
  }
 
  70% {
   box-shadow: 0 0 0 10px rgba(192, 174, 72, 0);
  }
 
  100% {
   box-shadow: 0 0 0 0 rgba(197, 157, 48, 0);
  }
 }

.btn-seleccion:hover {
  
  -webkit-animation: pulse 2s infinite;
  animation: pulse11 1.5s infinite;
  animation: zoomAnim 0.3s forwards;
  animation: movimiento-boton 1s ease;
  box-shadow: 0 0 5px 0 #b4b4b4;
}
/* Estilos para el carrito de compras*/
.precio-num {
  font-size: 17px;
  font-family: 'Courier New', Courier, monospace;
  font-weight: 700;
  color: #000;
  margin: 0;
  padding: 0;

}
.stock-num > strong {
  font-size: 14px;
  font-family: 'Courier New', Courier, monospace;
  font-weight: 700;
  color: #4d4d4d;
  margin: 0;
  padding: 0;
}
.stock-num > p {
  font-size: 14px;
  font-family: 'Courier New', Courier, monospace;
  font-weight: 600;
  color: #6b6b6b;
  margin: 0;
  padding: 0;

}
.boton-restar {
  width: 22px;
  height: 20px;
  background-color: #f1f1f1;
  border: 1px solid rgb(129, 129, 129);
  border-radius: 20%;

}
.boton-restar:hover {
  background-color: #f1f1f1;
  cursor: pointer;
  animation: zoomAnim 0.3s forwards;
  
}
.boton-sumar {
  width: 22px;
  height: 20px;
  background-color: #f1f1f1;
  border: 1px solid rgb(129, 129, 129);
  border-radius: 20%;
}
.boton-sumar:hover {
  background-color: #f1f1f1;
  cursor: pointer;
  animation: zoomAnim 0.3s forwards;
}

.button-especial {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}
.button-especial:hover {
  animation: zoomAnim2 0.3s forwards;
}
.btn-pago > button:hover {
  animation: zoomAnim3 0.3s forwards;
}