.sidebar {
  background-color: #150916;
  color: white;
  height: 110vh;
  transition: all 0.5 cubic-bezier(0.1, 0.7, 1.0, 0.1);
  max-width: 350px !important;
}

.btn-sidebar:hover {
  transform: matrix(1.1, 0, 0, 1.1, 0, 0);
}
@keyframes desplazar {
  from {
    transform: translateX(-100%);
    width: 50px;
  }
  to {
    transform: translateX(0%);
    width: 350px;
  }
}
@keyframes retroceder {
  from {
    transform: translateX(0%);
    width: 350px;
  
  }
  to {
    transform: translateX(0%);
    width: 50px;
  }
}
.informaciones-user {
  max-width: 100%;
}
.min-imagen-usuario {
  width: 50px;
 
}
.min-imagen-usuario > img {
  aspect-ratio: 1 / 1; /* la imagen se mantiene cuadrada - buenas prácticas */
  object-fit: cover;
  width: 100%;
  height: auto; 
  border-radius: 50%; /* con aspect-ratio: 1 / 1; se logra que la imagen sea circular */
}
.nombre-usuario {
  display: inline-block;
  max-width: 200px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.top_seccion {
  display: flex;
  align-items: center;
  padding: 20px 15px;
}
.bars {
  display: flex;
  font-size: 25px;
  margin-left: 30px;
}
.link {
  display: flex;
  color: white;
  padding: 10px 15px;
  gap: 15px;
  transition: all 0.5s;
}
.link:hover {
  background-color: rgb(206, 151, 34);
  color: white;
  text-decoration: none;
}
.active {
  background-color: rgb(42, 152, 226);
  color: white;
}
.icon, .link_text {
  font-size: 20px;
}

.contenedor {
  max-height: 100vh;
  display: flex;

}
main {
  width: 100%;
}

.btn-sidebar {
  cursor: pointer;

}
@media (max-width: 668px) {
  .nombre-usuario {
    font-size: 14px;
  }
  .min-imagen-usuario {
    max-width: 40px;
   
  }
  .icon, .link_text {
    font-size: 15px;
  }
 
}