/* Estilo para deshabilitar el desplazamiento del fondo cuando el modal está abierto */


/* --------- Custom Modal --------- */

.modal-overlay {

  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  
  background: rgba(0, 0, 0, 0.5); /* Fondo plomo (gris) con transparencia */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999; /* Asegúrate de que esté por encima de otros elementos */
}
dialog {
  transition: scale .3s ease, display .3s ease allow-discrete;
  scale: 0;
  position: relative;
  border: none;
  padding: 0;
  
  border-radius: 5px 5px;
  overflow: hidden;
  margin-top: 2rem;

  display: flex;
  border-radius: 8px; /* Añade un borde redondeado */
  box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.1); /* Añade una sombra */
  max-width: 700px;
  
  min-width: 500px;
  min-height: 70vh;
  max-height: calc(100vh - 50px);

  flex-direction: column;
 
 
  &[open] {
   
    scale: 1;
    overflow-y: auto;
    transition: scale .3s ease-in-out, opacity .3s ease, translate 1s ease;
    translate: 0px 0px;
    @starting-style {
      scale: 0;
      translate: 0px 100px;
    }
 
    
  }
}
@media (max-width: 650px ) {
  dialog {
    min-width: 350px;

  }
}

dialog .modal-header {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  padding: 5px 8px;
  background-color: #2dacdf;
  color: white;

}
dialog .modal-body {
  padding: 1rem;
  background-color: white;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  flex-grow: 1;
  overflow-y: auto; /* Permite el desplazamiento vertical */
}
/* --------- Custom Modal --------- */
.fondo-carga {
  background-color: #150916;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 0;
  padding-top: 3rem;
  min-height: 100vh;
  min-width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.fondo-carga > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 10rem;
  
}
.texto-espera {
  margin-top: 3rem;
}
.tamaño-header  {
  height: 75px;
  background: #1e3c72;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #2a5298, #1e3c72);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #2a5298, #1e3c72); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  
}
.nav {
  background: #1e3c72;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #1c4991, #122e63);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #1c4991, #122e63); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  height: inherit;
}
.bi-grid-3x3-gap-fill {
  font-size: 28px;
}
.text-sesion button {
   color: white;

}
@media (max-width: 450px) {
  .text-sesion button {
    font-size: 12px;
    font: bold;
  }
  .text-nav h3 {
    font-size: 15px;
  }
}


/* Estilos para el diseño de carga*/
.spinner {
  width: 100.4px;
  height:100.4px;
  --clr: rgb(247, 197, 159);
  --clr-alpha: rgb(247, 197, 159,.1);
  animation: spinner 1.6s infinite ease;
  transform-style: preserve-3d;
}

.spinner > div {
  background-color: var(--clr-alpha);
  height: 100%;
  position: absolute;
  width: 100%;
  border: 3.5px solid var(--clr);
}

.spinner div:nth-of-type(1) {
  transform: translateZ(-35.2px) rotateY(180deg);
}

.spinner div:nth-of-type(2) {
  transform: rotateY(-270deg) translateX(50%);
  transform-origin: top right;
}

.spinner div:nth-of-type(3) {
  transform: rotateY(270deg) translateX(-50%);
  transform-origin: center left;
}

.spinner div:nth-of-type(4) {
  transform: rotateX(90deg) translateY(-50%);
  transform-origin: top center;
}

.spinner div:nth-of-type(5) {
  transform: rotateX(-90deg) translateY(50%);
  transform-origin: bottom center;
}

.spinner div:nth-of-type(6) {
  transform: translateZ(35.2px);
}

@keyframes spinner {
  0% {
    transform: rotate(45deg) rotateX(-25deg) rotateY(25deg);
  }

  50% {
    transform: rotate(45deg) rotateX(-385deg) rotateY(25deg);
  }

  100% {
    transform: rotate(45deg) rotateX(-385deg) rotateY(385deg);
  }
}
/* Estilos para el texto de carga*/
.btn-shine {


  
  padding: 12px 48px;
  color: #fff;
  background: linear-gradient(to right, #9f9f9f 0, #fff 10%, #868686 20%);
  background-position: 0;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: shine 3s infinite linear;
  animation-fill-mode: forwards;
  -webkit-text-size-adjust: none;
  font-weight: 600;
  font-size: 16px;
  text-decoration: none;
  white-space: nowrap;
  font-family: "Poppins", sans-serif;
}
@-moz-keyframes shine {
  0% {
    background-position: 0;
  }
  60% {
    background-position: 180px;
  }
  100% {
    background-position: 180px;
  }
}
@-webkit-keyframes shine {
  0% {
    background-position: 0;
  }
  60% {
    background-position: 180px;
  }
  100% {
    background-position: 180px;
  }
}
@-o-keyframes shine {
  0% {
    background-position: 0;
  }
  60% {
    background-position: 180px;
  }
  100% {
    background-position: 180px;
  }
}
@keyframes shine {
  0% {
    background-position: 0;
  }
  60% {
    background-position: 180px;
  }
  100% {
    background-position: 180px;
  }
}
.svg-carga-datos {
	height: 250px;
	width: 250px;
}
